*{
    margin: 0;
    padding: 0;
    font-family: "Muli", sans-serif;
    box-sizing: border-box;
    line-height: 1.6;
}






.Homepage ul{ list-style-type: none; margin: 0; padding: 0;}
  .Homepage a{text-decoration: none; color: black;}

  .Homepage  .menu-toggle{
    display: none;
    color: #fff;
    line-height: 40px;
    font-size: 24px;
    float: right;
    padding: 0 10px;
  }
  
  .Homepage {
    box-shadow: 0px 0px 1.5px #e6e6e6;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    width: 100%;
    justify-content: space-around;
    padding: 8px 0;
    z-index: 999;
    position: sticky;
    color: black;
    background: rgba(255,255,255,.91);
  }
  header  .logo a{
    color: #0fb78d;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    float: left;
    font-weight: bolder;
    padding: 0 10px;
  }
  header  .enroll{
    background-color: #0fb78d;
    color: #fff;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    float: right;
    font-weight: 300;
    padding: 0 20px;
    border-radius: 35px;
  }
  header  .enroll:hover{
    background-color: #4cddb9;
    cursor: pointer;
  }
  header  nav ul.menu {
    display: flex;
  }
  
  header  nav ul li a{
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    display: block;
  }
  header  nav ul li a:hover{
    color: #0fb78d;
    text-decoration: none;
  }
    .break-point{
    position: relative;
    height: auto;
  }
    .sub-menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: none;
    box-shadow: 0px 0px 1.5px #f7f6f6;
  }
    .break-point:hover .sub-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
  }
    .break-point:hover .sub-menu li{
    background: white;
    perspective: 1000px;
    opacity: 0;
    transform-origin: top center;
    animation: myAnimation 0.3s ease-in-out forwards; 
    animation-delay: 80ms;
    transition: 0.8s;
    z-index: 9999;
  }
  
  @keyframes myAnimation{
    0%{
        opacity: 0;
        transform: rotateX(-90deg) ;
    }
    100%{
        opacity: 1;
        transform: rotateX(0deg) ;
  
    }
  }
  @media only screen and (max-width: 1000px) {
    header{
      box-shadow: 0px 1px 1.5px #f3f3f3;
      justify-content: space-between !important;
      background: rgba(255,255,255,.91);
      z-index: 999999 !important;
    }
     .menu-toggle {
      display: block !important;
      cursor: pointer;
      color: black !important;
    }
    header nav {
      /* display: none; */
      position: absolute;
      width: 90%;
      background:white;
      top: 100%;
      
      left: -100%;
      transition: 0.5s;
      color: black;

    }
    header nav ul{
     display:block ;
     text-align: center;
     flex-direction: column;
     width: 80%;

    }
      .enroll{
      display: none;
    }
    /* header nav ul li a {
      border-bottom: 1px solid red;
    } */
    nav.active {
      left: 0;
    }
    .break-point:hover .sub-menu li{
        background: #fffcfb;
    }

  }













.header{
    width: 100%;
    background-image: url(https://preview.colorlib.com/theme/nurture/images/hero_bg.jpg)!important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100vh - 56px);
    min-height: 650px;
    /* filter: saturate(2) grayscale(30%) brightness(60%); */
}
.header::after{ 
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
    opacity: 5;
} 
.container{
    width: 90%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center !important;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    min-height: 550px;
}
.title{
    display: flex;
    width: 100%;
    max-width: 1150px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 15px;
}
.title-left{
    max-width: 75%;
    display: flex;
    padding: 20px 0;
    z-index: 100;
}
.box{
    display: flex;
    margin-right: 15px ;
    font-size: 13px;
    color: white;
}
.box i{
    margin-right: 5px;
}
.title-right{
    max-width: 25%;
    display: flex;
    padding: 15px 0;
    z-index: 100;
}
.box:hover{
    cursor: pointer;
}
.menu{
    position: relative;
    z-index: 10000;
    display: flex;
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
    padding: 0 15px;
}
.menu>a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    z-index: 100;
}
.main-menu{
    display: flex;
    z-index: 100;
}
.menu-item{
    padding: 0 15px;
    color: rgb(255, 255, 255, 0.5);
    position: relative;

}
.menu-item:hover{
    color: white;
}
.sub-menu{
    display: none;
    width: 125%;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 100;
}
.menu-item1{
    width: 100%;
    background-color: white;
    color: black;
    padding: 4px 8px;
    position: relative;
}
.menu-item1:hover{
    background-color:white;
    color: #00aa5b;
}
.menu-item:hover .sub-menu{
    display: block;
}
.item{
    display: none;
    position: absolute;
    width: 125%;
    z-index: 1000000;
}
.item1{
    background-color: white;
    color: black;
    padding: 4px 8px;
}
.item1:hover{
    background-color: white ;
    color: #00aa5b;
}
.menu-item1:hover .item{
    display: block;
    left: 100%;
    top: 0;
}
.menu>button{
    padding: 15px 30px;
    font-size: 11px;
    border-radius: 30px;
    background: #15c498;
    border: none;
    color: white;
    z-index: 100;
}
.menu>button:hover{
    cursor: pointer;
    background: #24d6aa;
}
.main-header{
    margin: auto;
    text-align: center;
    max-width: 28%;
    color: white;
    font-size: 16px;
    /* padding: 0 15px; */
    line-height: 1.6;
    z-index: 100;
}
.main-header>h1{
    font-size: 50px;
}
.main-header>button{
    padding: 15px 30px;
    font-size: 11px;
    border-radius: 30px;
    background: #15c498;
    border: none;
    margin-top: 30px;
    color: white;
}
.main-header>button:hover{
    cursor: pointer;
    background: #24d6aa;
}
.content{
    width: 100%;
    max-width: 1150px; 
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}
.left-content{
    max-width: 40%;
    padding: 0 15px;
    /* margin-right: 30px; */
}
.left-content h2{
    color: #0fb78d;
    font-weight: 500;
    line-height: 1.2;
    font-size: 30px;
    margin-bottom: 20px;
}
.left-content p{
    margin-bottom: 15px;
}
.left-content ul{
    list-style: none;
    margin-bottom: 30px;
}
.left-content ul li{
    margin-bottom: 10px;
}
.number{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}
.box-number{
    max-width: 33%;
}
.sub-box{
    font-size: 26px;
    font-family: "Libre Baskerville", serif;
    color: #0fb78d;
}
.sub-box1{
    color: black;
    font-size: 16px;
}
.press{
    display: flex;
    width: 100%;
}
.button1{
    padding: 15px 30px;
    background-color: #0fb78d;
    border-radius: 30px;
    color: white;
    border: none;
    font-size: 10px;
    letter-spacing: 1px;
    margin-right: 5px;
}
.button1:hover{
    background-color: #14d8a7;
    cursor: pointer;
}
.button2{
    padding: 15px 30px;
    background-color: white;
    border-radius: 30px;
    border: #0fb78d solid 1px;
    color: #0fb78d;
    font-size: 10px;
    letter-spacing: 1px;
}
.button2:hover{
    background-color: #0fb78d;
    color: white;
    cursor: pointer;
}
.right-content{
    max-width: 50%;
    /* padding-left: 30px; */
}
.right-content img{
    width: 70%;
    /* height: 100%; */
}
.team{
    background-color: #f8f9fa!important;
    padding: 100px 0;
}
.contain{
    width: 100%;
    max-width: 1150px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.our{
    width: 58%;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
}
.our h2{
    color: #0fb78d;
    margin-bottom: 10px;
}
.infor{
    display: flex;
    width: 100%;
    padding: 0 15px;
}
.main-infor{
    width: 33%;
    text-align: center;
    padding:0 30px;
    margin-top: 30px;
}
.main-infor img{
    width: 200px;
    border-radius: 50%;
}
.staff{
    margin-top: 20px;
}
.staff h3{
    font-weight: 500;
    font-family: "Libre Baskerville", serif;
    font-size: 20px;
    margin-bottom: 10px;
}
.staff span{
    color: #999;
}
.staff p{
    margin: 30px 0 ;
}
.social{
    display: flex;
    justify-content: center;
}
.social i{
    color: #0fb78d;
    margin: 10px;
}
.footer{
    background-color: #0fb78d;
    font-size: 14px;
    color: white;
    padding: 70px 0;
}
.main-footer{
    display: flex;
    width: 100%;
    max-width: 1150px;
    padding: 0 15px;
    margin: 0 auto;
}
.about{
    margin-right: auto;
    max-width: 25%;
    padding: 0 15px;
    font-size: 14px;
}
.widget{
    margin-bottom: 40px;
}
.widget h3{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 30px;
}
.icon{
    display: flex;
    font-size: 30px;
}
.sub-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    background-color: white;
    color: black;
    margin: 0 2px;
}
.sub-icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
}
.sub-icon:hover{
    background-color: #1ed4a7 ;
    color: white;
}
.project{
    max-width: 16.67%;
    padding: 0 15px;
    font-size: 14px;
    color: white;
}
.widget ul{
    list-style: none;
}
.widget ul li{
    color: rgb(255, 255, 255, 0.5);
}
.widget ul li:hover{
    color: white;
}
.footer-img{
    display: flex;
    flex-wrap: wrap;
    /* max-width: 33.333%;
    padding-left: 8px;
    padding-bottom: 8px; */
}
.footer-img img{
    width: 72px;
    height: 72px;
    margin-bottom: 8px;
    /* margin-left: 8px; */
    margin-right: 8px;
}
.ending{
    margin-top: 30px;
    text-align: center;
}
@media all and (max-width: 992px){
    .box p{
        display: none;
    }
    .box span{
        display: block !important;
    }
    .main-menu{
        display: none;
    }
    .content{
        display: block;
    }
    .left-content, .right-content{
        max-width: 100%;
        margin: 100px 100px;
    }
    .infor{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .main-infor{
        width: 48%;
        /* margin: unset; */
    }
    .main-footer{
        display: block;
    }
    .about,  .project {
        max-width: 100%;
    }
}