@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");
.wrapper {
    font-family: "Lora";
    background-color: white;
    width: 800px;
    height: 100vh;
    position: relative;
    margin: 0 auto;
}

.box {
    height: 100%;
    width: 100%;
    display: flex;
}

.image,
.content {
    width: 50%;
}

.content {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fafafa;
}

.title {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;
}

.title+p {
    font-size: 20px;
}

.image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #999;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: white;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked+.slider {
    background-color: #eee;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}