* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* .header {
    width: 100%;
    background-color: rgb(173, 165, 154);
    opacity: 0.8;
    display: flex;
}

.header .right {
    display: flex;

}

.header .right ul  {
    list-style: none;
}

.header a {
    text-decoration: none;
} */

.header {
    width: 100%;
    height: 55px;
    line-height: 55px;
    background-color: rgb(146, 137, 137);
    display: inline-flex;
    justify-content: space-around;
    box-sizing: inherit;
    opacity: 0.8;
    position: fixed;
    z-index: 2;
}

.header .left {
    width: 33%;
}

.header .left .image {
    width: 50px;
    margin: 0;
}

.header a {
    text-decoration: none;
    color: black;
    padding: 15px;
    font-size: 20px;
}
.header a:hover {
    color: chocolate;
}

.header .right {
    align-content: center;
    justify-content: center;
}

.main > .image {
    width: 100%;
    height: 720px;
    display: inline-block;
    background-image: url(https://myhaui.com/assets/hero-code.jpg);
    background-size: cover;
}

.main .container {
    display: block;
    width: 75%;

    padding-top: 25px;
    margin: auto;
}

.main .container > h1 {
    text-align: center;
}

.main .container .box-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main .container .box-image .image {
    flex-basis: 32%;
    padding:5px;
}
.main .container .box-image .image img {
    width: 100%;
    height: 100%;
}

.cat {
    display: flex;
    border: 1px solid black;
    border: 10%;
}

.cat .image {
    width: 40%;
}

.cat .image img {
    width: 100%;
    border-radius: 50%;
}

.cat .text {
    justify-content: center;
    text-align: center;
}