* {
    margin: 0;
    padding: 0;
}

div.menu {
    display: flex;
    background-color: black;
    width: 100%;
    font-size: 16px;
    position: fixed;
    justify-content: space-between;
    z-index: 1000;
}

ul.menu {
    list-style-type: none;
    display: flex;
    position: relative;
}

ul.menu li {
    padding: 15px;
}

ul.menu li a {
    text-decoration: none;
    color: white;
}

ul.menu li:hover {
    background-color: rgb(211, 210, 210);
}

ul.menu li:hover a{
    color: black;
}

ul.menu > li .More {
    display: none;
}

ul.menu > li:hover .More {
    display: block;
    background-color: white;
    position: absolute;
    top: 100%;
    padding: 0;
}

ul.menu > li .More li {
    padding: 15px;
    list-style-type: none;
}

ul.menu > li .More li a {
    color: black;
}

div.menu .right {
    padding: 15px;
    color: white;
    text-align: center;
}

div.menu .right:hover {
    background-color: rgb(255, 34, 34);
}

div.home{
    width: 1480px;
    margin-left: auto;
    margin-right: auto;
}

div.home > img {
    width: 100%;
    position: relative;
}

div.home .text-picture1 {
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    
}
