div.menu {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rgb(47, 164, 218);
    color: white;
    line-height: 60px;
    font-size: 20px;
}

div.menu .time {
    width: 45%;
    margin-right: 25%;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

div.the-middle .box-logo {
    display: block;
    background-color: rgb(191, 243, 250);
    height: 250px;
    width: 100%;
    text-align: center;
}

div.the-middle .box-logo .awesome {
    display: block;
    text-align: center;
    height: 200px;
    line-height: 200px;
    margin: auto;
    font-size: xxx-large;
    font-weight: bolder;
}

div.subscribe-and-icon {
    display: flex;
}

div.subscribe-and-icon .subscribe {
    color: rgb(0, 81, 255);
    font-size: 20px;
    margin: auto;
    padding: auto;
}

div.subscribe-and-icon .icon {
    margin: auto;
    padding: auto;
    border-radius: 50%;
    color: rgb(0, 81, 255);
    font-size: 20px;
}
div.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.box .box-top {
    display: flex;
    width: 900px;
    margin: auto;
    text-align: center;
}

div.box .box-top .box-5 {
    background-color: rgb(235, 191, 255);
    flex-basis: 33%;
    height: 300px;
    line-height: 300px;
    padding: auto;
    font-size: xx-large;
    
}
div.box .box-top .box-2 {
    background-color: rgb(251, 123, 255);
    width: 300px;
    height: 300px;
    line-height: 300px;
    padding: auto;
    font-size: xx-large;
    
}
div.box .box-top .box-3 {
    background-color: rgb(176, 214, 245);
    width: 300px;
    height: 300px;
    line-height: 300px;
    padding: auto;
    font-size: xx-large; 
}
div.box .box-bottom {
    display: flex;
    text-align: center;
    width: 600px;
    margin: auto;
}
div.box .box-bottom .box-4 {
    background-color: rgb(176, 245, 242);
    width: 300px;
    height: 300px;
    line-height: 300px;
    padding: auto;
    font-size: xx-large; 
}
div.box .box-bottom .box-1 {
    background-color: rgb(245, 215, 176);
    width: 300px;
    height: 300px;
    line-height: 300px;
    padding: auto;
    font-size: xx-large; 
}

div.end {
    display: flex;
}

div.end .two-sides {
    background-color: rgb(43, 128, 226);
    width: 25%;
    height: 200px;
}
div.end .between {
    background-color: rgb(140, 233, 233);
    width: 50%;
    height: 200px;
}