* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

:root {
  --color: #0fb78d;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

img {
  width: 100%;
}
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400;
  line-height: 1.2;
}

.header {
  width: 100%;
  height: 720px;
  position: relative;
}

.header .site-nav {
  z-index: 2;
  /* background-color: #61b0f5; */
  position: absolute;
  top: 0;
  left: 10%;
}
.header .site-nav .top-bar {
  padding: 20px 0;
}
.header .site-nav .top-bar a {
  color: var(--white);
  text-decoration: none;
}

.header .menu {
  width: 100%;
  height: 42px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  z-index: 1000;
  top: 0px;
}
.header .menu a {
  color: var(--gray);
  text-decoration: none;
}
.header .menu .ul-sub-menu {
  display: flex;
  padding: 20px 0 0 0;
}
.header .menu .sub-menu li {
  list-style: none;
}
.header .menu .sub-menu a:hover {
  color: var(--white);
}
.header .menu .sub-menu .ul-sub-menu  li {
  padding: 0 15px;
  position: relative;
}
.header .menu .sub-menu ul.sub-menu2 a{
  color: black;
}
.header .menu .sub-menu ul.sub-menu2{
    width: 125px;
    background-color: var(--white);
    position: absolute;
    top: 100%; left: 0;
}
.header .menu .sub-menu .breakpoint .sub-menu2{
  display: none;
}
.header .menu .sub-menu .breakpoint:hover .sub-menu2{
  display: block;
}
.header .menu .sub-menu ul.sub-menu2 li{
    padding: 10px 15px;
}
.header .menu .sub-menu ul.sub-menu2 a:hover{
  color: var(--color);
}
.header .menu .sub-menu ul.sub-menu2 .sub-item2{
  position: relative;
}
.header .menu .sub-menu ul.sub-menu2 .sub-menu3{
  position: absolute;
  top: 0;
  left: 100%;
  width: 225px;
  background-color: var(--white);
  display: none;
}
.header .menu .sub-menu ul.sub-menu2 li:hover .sub-menu3{display: block;}

.header a.enroll{
  padding: 0 15px;
  line-height: 42px;
  font-size: 14px;
  /* border: 1px solid white; */
  border-radius: 30px;
  font-weight: 400;
  color: var(--white);
  background-color: var(--color);
}
.header .enroll:hover{
  background-color: #11ca9c;;
}

.background {
  background-image: url("./image/hero_bg.jpg");
  height: 720px;
  background-size: inherit;
  background-position: center;
  top: 0;
  left: 0;
  z-index: -1;
}
.background::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}



